{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Log out" %}
{% endblock head_title %}

{% block content %}
    <main>
    <div class="container">
        <section>
            <div class="text-center mb-4">
                <div class="row wow fade-in">
                    <h1>
                        {% trans "Sign Out" %}
                    </h1>
                    <p>{% trans 'Are you sure you want to sign out?' %}</p>
                    {% url 'account_logout' as action_url %}

                    <form class="logout" method="post" action="{% url 'account_logout' %}">

                            {% csrf_token %}
                            {{ form|crispy }}
                            {% if redirect_field_value %}
                                <input type="hidden"
                                       name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}" />
                            {% endif %}

                           <button class="btn btn-primary ms-1" type="submit">{% trans "Log Out" %}</button>


                    </form>


                </div>
            </div>
        </section>
    </div>
    </main>

{% endblock content %}
